 <!-- ----------------------Menu-------------------------------------  -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">De-To</a>
    </div>

   
    <div class="navbar-collapse" style="padding-left: 0px" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
              <li><a href="" ng-click="goToPageMesEvenement()" ><i class="fa fa-calendar"></i> Mes évènements</a></li>
                <li><a href="" ng-click="goToPageCreerEvenement()"><i class="fa fa-calendar-plus-o"></i> Créer un nouvel évènement</a></li>
                <li><a href="" ng-click="connexion()"><i class="fa fa-calendar-plus-o"></i> {{messageConnection}}</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong>{{utilisateur.nom}}</strong>
                    </a>
                   
                </li>
            <li class="dropdown">
                    <div ng-if="isAfficher == 'true'" >
                         <a  href="" ng-click="afficherNotif()" class="nav-link"> <i class="fa fa-bell-o fa-3"></i></a>
                    </div>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <!-- ---------------------- Fin du Menu-------------------------------------  -->
  
<div class="col-xs-12 col-sm-12 col-md-12">
</br>
<div class="panel-body">
    <a href class="list-group-item" ng-repeat="msgD in messageToDisplay" >{{msgD.idEvenement}}. {{msgD.msg}}</a>
</div>
</br>
</br>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h5>Informations de l'évènement</h5>
                        </div>
                        <div class="panel-body">
                              {{messageToDisplay}}
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td><label  class="col-sm-3 col-xs-12 control-label">Nom</label></td>
                                        <td><p>{{nom}}</p></td>
                                    </tr>
                                     <tr >
                                        <td><label  class="col-sm-3 col-xs-12 control-label">Description</label></td>
                                        <td><p>{{description}}</p></td>
                                    </tr>
                                     <tr>
                                        <td><label  class="col-sm-3 col-xs-12 control-label">Créateur</label></td>
                                        <td><p>{{idCreateur}}</p></td>
                                    </tr>
                                     <tr>
                                        <td><label  class="col-sm-3 col-xs-12 control-label">Créneaux Final</label></td>
                                        <td><p>{{creneauFinal}}</p></td>
                                    </tr>
                                </tbody>
                            </table>
  
                            <table class="table table-hover" >
                                <thead>
                                    <tr >
                                        <td data-ng-repeat="c in creneaux"><b>{{c.dateHeure}}</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="r in reponses">
                                       
                                                
                                     
                                                <td data-ng-repeat="q in r.quand">
                                                           <img src="../../img/{{q.dispo}}.png" style="width:20px;">
                                                <td>{{r.idPers}}</td>
                                            
                                    </tr>
                                    <tr >
                                        <td  data-ng-repeat="q in reponseVisiteur.quand">
                                                    <a href ng-click="changeValue(q.idCreneau)"> 
                                                        <img   src="../../img/{{q.dispo}}.png" style="width:20px;" >
                                                    </a>
                                                </td>
                                                <td>
                                                    <input type="hidden" class="form-control" id="nomVisiteur" ng-model="nomVisiteur" placeholder="Visiteur" >
                                                </td>
                                     </tr>
                                </tbody>
                            </table>
                             <button type="button" id="buttonEnvoi" class="btn btn-success" ng-click="soumettre()">Envoyer ma réponse</button>
                            {{message}}
                        </div>
                         <button hidden=true id="buttonCloturer"  class="btn btn-success" ng-click="gocloturer()">Cloturer</button>
                            {{message}}
                    </div>
                </div>  
